
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180"
          href="//static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon"
          href="/static/favicon/safari-pinned-tab.svg%22%20color%3D%22%235bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>



<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/"
           class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img class="bi me-2" src="/static/favicon/favicon.ico"
                 alt="pass">
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a class="nav-link  link-dark "
                   href="/">Главная</a>
            </li>
            <li><a type="button"
                   class="nav-link  link-dark"
                   href="/about/">О нас</a>
            </li>
            <li><a type="button"
                   class="nav-link  link-dark"
                   href="/catalog/">Каталог</a>
            </li>
            <li><a type="button"
                   class="nav-link  link-dark"
                   href="/feedback/">Обратная связь</a>
            </li>
            <li><a type="button"
                   class="nav-link  link-dark"
                   href="/users/user_list/">Список пользователей</a>
            </li>


                <li><a type="button"
                       class="nav-link  link-dark"
                       href="/users/profile/">Профиль</a>
                </li>
                <li><a type="button"
                       class="nav-link  link-dark"
                       href="/users/logout/">Выход</a>
                </li>


        </ul>
    </header>
</div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center fw-bolder">Сброс пароля</h1>
            </div>



<form method="post">







    <button class="btn btn-outline-primary" type="submit">
        Сбросить
    </button>
</form>

        </div>
    </div>




<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">©
            <script>document.write(new Date().getFullYear())</script>
        </p>

        <a href="/"
           class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img class="bi me-2" src="/static/favicon/favicon.ico"
                 alt="pass">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a class="nav-link  link-dark "
                   href="/">Главная</a>
            </li>
            <li><a type="button"
                   class="nav-link  link-dark"
                   href="/about/">О нас</a>
            </li>
            <li><a type="button"
                   class="nav-link  link-dark"
                   href="/catalog/">Каталог</a>
            </li>
            <li><a type="button"
                   class="nav-link  link-dark"
                   href="/feedback/">Обратная связь</a>
            </li>
        </ul>
    </footer>
</div>

</body>
</html>