{% extends 'base.html' %}
{% load define_action %}

{% block title %}Каталог{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center fw-bolder">Список товаров</h1>

                <div class="row justify-content-center">
                    {% for item in page_obj %}

                        {% if forloop.first %}
                            <h3 class="text-center">{{ item.category }}</h3>

                        {% elif item.category != last_item.category %}
                            <h3 class="text-center">{{ item.category }}</h3>
                            </div>
                            <div class="row justify-content-center">
                        {% endif %}

                        {% include 'includes/item.html' with item=item %}

                        {% define item as last_item %}

                    {% empty %}
                        <h4 class="text-center">Тут ничего нет :(</h4>
                    {% endfor %}
                    </div>

            </div>
        </div>
        {% include 'includes/pagination.html' with page_obj=page_obj %}
    </div>
{% endblock %}