{% extends 'base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <img src="{{ item.mainimage.image.url }}" alt="Картинки нет">
            <div class="row">
                {% for image in item.images.all %}
                    <div class="col">
                        <img src="{{ image.image.url }}" class="img-fluid" alt="Картинки нет">
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12">
                <h2 class="fw-bold">{{ item.name }}</h2>
                <h3>Категория: {{ item.category.name }}</h3>
                
                <h4>Теги:
                    {% for tag in item.tags.all %}
                        {{ tag.name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </h4>
                <h4>Оценки: {{ avg_rating }}/{{ rating_count }}</h4>
                <h5>{{ item.text_rendered | safe }}</h5>

                {% if user.is_authenticated %}
                    {% include 'includes/form.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}