{% load static %}

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">©
            <script>document.write(new Date().getFullYear())</script>
        </p>

        <a href="/"
           class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img class="bi me-2" src="{% static 'favicon/favicon.ico' %}"
                 alt="pass">
        </a>

        <ul class="nav col-md-4 justify-content-end">
            {% with request.resolver_match.view_name as link %}

                <li><a type="button" class="nav-link px-2 link-dark"
                       href="{% url 'homepage:home' %}">
                    {% if link == "homepage:home" %}<b>{% endif %}Главная
                    {% if link == "homepage:home" %}</b>{% endif %}</a>
                </li>
                <li><a type="button" class="nav-link px-2 link-dark"
                       href="{% url 'about:description' %}">
                    {% if link == "about:description" %}<b>{% endif %}О нас
                    {% if link == "about:description" %}</b>{% endif %}</a>
                </li>
                <li><a type="button" class="nav-link px-2 link-dark"
                       href="{% url 'catalog:item_list' %}">
                    {% if link == "catalog:item_list" or link == "catalog:item_detail" %}
                        <b>{% endif %}Каталог
                    {% if link == "catalog:item_list" or link == "catalog:item_detail" %}
                        </b>{% endif %}</a>
                </li>
            {% endwith %}
        </ul>
    </footer>
</div>