{% load static %}

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/"
           class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img class="bi me-2" src="{% static 'favicon/favicon.ico' %}"
                 alt="pass">
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a class="nav-link {% ifequal request.path '/' %} fw-bold {% endifequal %} link-dark "
                   href="{% url 'homepage:home' %}">Главная</a>
            </li>
            <li><a type="button"
                   class="nav-link {% ifequal request.path '/about/' %} fw-bold {% endifequal %} link-dark"
                   href="{% url 'about:description' %}">О нас</a>
            </li>
            <li><a type="button"
                   class="nav-link {% if '/catalog/' in request.path %} fw-bold {% endif %} link-dark"
                   href="{% url 'catalog:item_list' %}">Каталог</a>
            </li>
        </ul>
    </header>
</div>