{% load static %}
{% if birthday_users != None %}
<div class="alert alert-primary" role="alert">
  Сегодня день рождения у:
  {% for birthday_user in birthday_users %}
  <a href="{% url 'users:user_detail' pk=birthday_user.id %}">{% if birthday_user.first_name %} {{birthday_user.first_name}} - {% endif %}{{birthday_user.email}}</a>
    {%if not forloop.last%}
    , 
    {% endif %}
  {% endfor %}
</div>
{% endif %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/"
           class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img class="bi me-2" src="{% static 'favicon/favicon.ico' %}"
                 alt="pass">
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a class="nav-link {% ifequal request.path '/' %} fw-bold {% endifequal %} link-dark "
                   href="{% url 'homepage:home' %}">Главная</a>
            </li>
            <li><a type="button"
                   class="nav-link {% ifequal request.path '/about/' %} fw-bold {% endifequal %} link-dark"
                   href="{% url 'about:description' %}">О нас</a>
            </li>
            <li><a type="button"
                   class="nav-link {% if '/catalog/' in request.path %} fw-bold {% endif %} link-dark"
                   href="{% url 'catalog:item_list' %}">Каталог</a>
            </li>
            <li><a type="button"
                   class="nav-link {% ifequal request.path '/feedback/' %} fw-bold {% endifequal %} link-dark"
                   href="{% url 'feedback:feedback' %}">Обратная связь</a>
            </li>
            <li><a type="button"
                   class="nav-link {% ifequal request.path '/users/user_list/' %} fw-bold {% endifequal %} link-dark"
                   href="{% url 'users:user_list' %}">Список пользователей</a>
            </li>
            {% if user.is_authenticated %}
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {% if context_user.first_name %}{{context_user.first_name}} {% endif %}{{context_user.email}}
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
          <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
        </ul>
      </div>
    </ul>
      {% else %}
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Авторизация
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'users:login' %}">Вход</a></li>
          <li><a class="dropdown-item" href="{% url 'users:signup' %}">Регистрация</a></li>
        </ul>
      </div>
    </ul>
    {% endif %}
        </ul>
    </header>
</div>